<%- include('header') -%>
    <div class="container my-5">
        <div class="text-right">
            <a href="/logout">Logout</a>
        </div>
        <div class="h2">Channels</div>
            <div class="d-flex justify-content-between">
                <form action="/timestamps">
                    <input type="submit" class="btn btn-link" value="Timestamps" />
                </form>
                <form action="/save">
                    <input type="submit" class="btn btn-primary" value="Save"/>
                </form>
            </div>
        <table class="table" style="color: gray;">
            <thead>
                <tr>
                    <th scope="col">ChannelId</th>
                    <th scope="col">ChannelName</th>
                    <th scope="col">Received</th>
                    <th scope="col">Sent</th>
                    <th scope="col">Error</th>
                    <th scope="col">Filtered</th>
                </tr>
            </thead>
            <tbody>
                <% channelGroups.forEach(group=> { %>
                    <tr>
                        <th scope="row" style="color: black;">
                            <%= group.name %>
                        </th>
                    </tr>
                    <% channels.forEach(channel=> { %>
                        <% if(group.channel_ids_list.includes(channel.channelId)){ %>
                            <tr>
                                <th scope="row">
                                    <%= channel.channelId %>
                                </th>
                                <td>
                                    <%= channel.channelName %>
                                </td>
                                <td>
                                    <%= channel.received %>
                                </td>
                                <td>
                                    <%= channel.sent %>
                                </td>
                                <td>
                                    <%= channel.error %>
                                </td>
                                <td>
                                    <%= channel.filtered %>
                                </td>
                            </tr>
                        <% } %>
                    <% }) %>
                <% }) %>
            </tbody>
        </table>
    </div>
<%- include('footer') -%>
